body {
  background-image: url(./image/social1.jpg);
  font-family: Assistant, sans-serif;
  display: flex;
  min-height: 90vh;
}
.signup {
  color: white;
  background: #b4896c;
  background: -webkit-linear-gradient(to right, #b4896c, #d6a16b);
  background: linear-gradient(to right, #b4896c, #d6a16b);
  margin: auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3),
    0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 50px;
}
.signup .head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup .head .company {
  font-size: 2.2em;
}

.signup .msg {
  text-align: center;
}

.signup .form input[type="text"].text {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
}

.signup .form .text::placeholder {
  color: #d3d3d3;
}

.signup .form input[type="date"].date {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-top: 20px;
}

.signup .form .date::placeholder {
  color: #d3d3d3;
}

.signup .form input[type="email"].email {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-top: 20px;
}

.signup .form .email::placeholder {
  color: #d3d3d3;
}

.signup .form input[type="tel"].phno {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-top: 20px;
}

.signup .form .phno::placeholder {
  color: #d3d3d3;
}

.signup .form input[type="password"].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signup .form .password::placeholder {
  color: #d3d3d3;
}

.signup .form input[type="password"].cpassword {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 30px;
}

.signup .form .cpassword::placeholder {
  color: #d3d3d3;
}

.signup .form .btn-signup {
  border: none;
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
  width: 10em;
  height: 2.5em;
}
.signup .form .btn-signup:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}
